@charset 'utf-8';

.dl__container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    height: 120px;
    background-color: #fff;
    box-shadow: 0 0 12px 0 rgba(1, 1, 1, 0.06);
    .header-top {
        height: 40px;
        line-height: 40px;
        background: #f2f2f2;
    }
}