<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>about</title>
    <link rel="stylesheet" href="/static/css/common.min.css">
</head>

<body>
    @@include('./include/aside.html')
    <div>abouts</div>
    <a href="/">index html</a>
    <img src="/static/images/bg-activity.jpg" alt="">
    @@include('./include/foot.html')
    <script src="/static/js/main.js"></script>
</body>

</html>